// navbar starts

.menu-container {

    .menu-container-item-link {
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            width: 0;
            height: 1px;
            background-color: red;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: all 0.5s ease;
        }

        &:hover::before {
            width: 100%;
        }
    }

    .corners {
        width: 15px;
        height: 15px;
        background-color: var(--primaryColor);
        position: absolute;
    }

    .corner-1 {
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
    }

    .corner-2 {
        left: 100%;
        top: 0;
        transform: translate(-50%, -50%);
    }

    .corner-3 {
        left: 0;
        top: 100%;
        transform: translate(-50%, -50%);
    }

    .corner-4 {
        left: 100%;
        top: 100%;
        transform: translate(-50%, -50%);
    }

    .dropdown-menu {
        >.dropdown-menu-trigger {
            cursor: pointer;
        }

        >.dropdown-menu-content {
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
            pointer-events: none;
            /* Prevent interactions when hidden */

            >.dropdown-item {
                padding: 1rem 2rem;

                >ul {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    li {
                        cursor: pointer;
                    }

                    li:first-child {
                        color: var(--primaryColor);
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        font-weight: bold;
                        font-size: 1.5rem;
                        text-shadow: 0.07rem 0.07rem 0px var(--secondaryColor);

                        &::before {
                            content: "";
                            padding-right: 0;
                        }
                    }


                    li::before {
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        content: '\f101';
                        /* Angle right icon */
                        color: var(--primaryColor);
                        padding-right: .5rem;
                    }
                }

            }

        }

        &:hover>.dropdown-menu-content {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            pointer-events: auto;
            /* Enable interactions when visible */
        }
    }

}

#main-menu.navbar-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    @media screen and (max-width : 990px) {
        position: fixed;
        width: 100vw;
        max-height: 100vh;
        min-height: 100vh;
        overflow: scroll;
        background-color: var(--secondaryColor);
        left: 0;
        top: 0;
        transform: translateX(-100%);
        transition: all 0.2s ease-out;

        &.show {
            transform: translateX(0);
        }

        &>.menu-container {
            flex-direction: column;
            flex-grow: 1;
            padding-top: 5rem;
            justify-content: start;
            align-items: center;
        }

        .dropdown-menu {

            >span {
                display: block;
                display: flex;
                justify-content: center;
            }

            .dropdown-menu-content {
                position: absolute;
                width: 100%;
                /* Change to relative */
                opacity: 1;
                /* Ensure visibility */
                visibility: visible;
                /* Prevent flicker */
                transform: translateX(-100%);
                /* No translation needed */
                flex-direction: column;
            }

            &:hover {

                .dropdown-menu-content {
                    transform: translateX(0);
                }

            }

        }
    }

}

// navbar ends

// title-card-element starts

#title-card-element {
    display: inline-block;
    position: relative;
    border: 1px solid var(--secondaryColor);
    padding: 0.3rem;
    box-sizing: border-box;

    >.card-box {
        width: 12px;
        height: 12px;
        background-color: var(--primaryColor);
        position: absolute;
    }

    >.card-box-1 {
        left: 0;
        top: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    >.card-box-2 {
        background-color: var(--secondaryColor);
        left: 100%;
        top: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    >.card-box-3 {
        background-color: var(--secondaryColor);
        left: 0;
        top: 100%;
        transform: translateX(-50%) translateY(-50%);
    }

    >.card-box-4 {
        left: 100%;
        top: 100%;
        transform: translateX(-50%) translateY(-50%);
    }

    >.title-text {
        font-weight: bold;
    }

}

// title-card-element ends

// hero starts

.hero-container {
    background-image: radial-gradient(rgba(0, 0, 0, 0.05) 6px,
            rgba(0, 0, 0, 0.06) 6px,
            white 6px,
            white 100%);
    background-repeat: repeat;
    // background-position: center;
    background-size: 10px 10px;
}

// typing animation

.typewriter {
    font-size: 3em;
    font-weight: bold;
    color: var(--primaryColor);
    text-shadow: 2px 3px 0px var(--secondaryColor);

    white-space: nowrap;

    text-overflow: ellipsis;
    max-width: 100%;

    @media screen and (max-width: 576px) {
        & {
            font-size: 1.75rem;
            text-shadow: 1px 2px 0px var(--secondaryColor);
        }
    }

    .typing-text {
        position: relative;
        display: inline-block;
        z-index: 1;
        border-bottom: 2px solid black;

        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: var(--primaryColor);
            position: absolute;
            left: 0;
            top: 100%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        &::after {
            content: "";
            width: 10px;
            height: 10px;
            background-color: var(--secondaryColor);
            position: absolute;
            left: 100%;
            top: 100%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

    }

}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.my-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px;

    >.glass {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 0;
    }

    >.glass {
        background-color: rgba(255, 255, 255, 0.35);
        padding: 2rem;
        // filter: blur(2px);
        border-radius: 14px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px white;
    }

    >.content {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 1;
        padding: 1rem;

        display: flex;
        gap: 1rem;
        align-items: center;

        >.profile-photo {
            img {
                object-fit: fill;
                aspect-ratio: 1/1;
                border-radius: 100% !important;
            }
        }

        >.profile-content {
            flex-grow: 1;

            @media screen and (max-width: 990px) {
                >.title {
                    &:first-child {
                        font-size: 0.55rem;
                    }
                }
            }
        }
    }
}

.hero-cta {
    background-color: var(--primaryColor);
    padding: 0.5rem 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 5px 0px rgba($color: #000000, $alpha: .5);
    position: relative;
    z-index: 0;
    overflow: hidden;
    transform: translateY(0px);

    transition: all 0.25s ease;

    &:hover {
        box-shadow: 0px 0px 0px var(--secondaryColor);
        transform: translateY(5px);
        color: var(--primaryColor);
    }

    &::before {
        content: "";
        width: 0;
        height: 100%;
        background-color: var(--secondaryColor);
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        transition: all 0.5s ease;
    }

    &:hover::before {
        width: 100%;
    }

}

.heros-img {
    .heros-media-img-container {
        position: relative;

        .heros-main-img {
            position: absolute;
            width: 100%;
            height: 765px;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 0.5rem;

            @media screen and (max-width: 576px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr 1.5fr 1fr;
            }

            >.heros-main-img-child {
                color: var(--thirdColor);
                background-color: var(--secondaryColor);
                border-radius: 24px;
                transform: scale(1);
            }

            >.heros-main-img-child.child1 {
                grid-column: 1 / span 3;
                grid-row: 1;
            }

            >.heros-main-img-child.child2 {
                grid-column: 1 /span 3;
                overflow: hidden;
                // display: grid;
                // grid-template-columns: repeat(2, 1fr);
                // grid-template-rows: 1fr;
                display: grid;
                gap: 0.5rem;
                grid-template-columns: 3fr 2fr;
                grid-template-rows: 1fr;
                background-color: transparent;

                @media screen and (max-width: 576px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 2fr;
                }

                >.child2-image-container {
                    border-radius: 24px;
                    overflow: hidden;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr;

                    >.img-container,
                    >.text-container {
                        grid-column: 1 /span 2;
                        grid-row: 1 /span 2;
                        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
                    }
                }

                @keyframes rotate {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }

                >.child2-animation-container {
                    background-color: var(--secondaryColor);
                    border-radius: 24px;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::before {
                        content: '';
                        position: absolute;
                        z-index: -2;
                        left: -50%;
                        top: -50%;
                        width: 200%;
                        height: 200%;
                        background-repeat: no-repeat;
                        background-size: 50% 50%, 50% 50%;
                        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
                        background: conic-gradient(#ffc107,
                                /* Bootstrap Warning */
                                #e9630f,
                                /* Lighter shade */
                                #ffc107,
                                /* Softer tone */
                                #ff0202,
                                /* Back to bright */
                                #ffc107
                                /* Return to base */
                            );
                        animation: rotate 2s linear infinite;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        left: 6px;
                        top: 6px;
                        width: calc(100% - 12px);
                        height: calc(100% - 12px);
                        background: var(--secondaryColor);
                        border-radius: 20px;
                    }

                    >.content-animation {
                        // background-color: red;
                        width: calc(100% - 30px);
                        height: calc(100% - 30px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            >.heros-main-img-child.child2>.img-container>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >.heros-main-img-child.child3 {
                grid-column: 1 / span 3;
                padding: 0 3rem;
            }

        }

        @media screen and (max-width : 576px) {
            .heros-main-img {
                position: relative;
            }
        }

    }
}

.number-tile {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px white;
}


// hero ends

// perks start
.perks-section-main-heading::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    /* For solid icons */
    content: '\f120';
    /* User icon */
    animation: changeIcons 2s ease-in infinite;
    background-color: var(--primaryColor);
    padding: 1rem;
    border-radius: 14px;

    @keyframes changeIcons {
        0% {
            content: '\f120'; // User icon
        }

        25% {
            content: '\f1d8'; // Bell icon
        }

        50% {
            content: '\f0a1'; // Heart icon
        }

        75% {
            content: '\e4b7'; // Eye icon
        }

        100% {
            content: '\f120'; // Check-circle icon
        }
    }

}

.perks-points {
    list-style: none;
    padding: 0;
    font-size: .8rem;
}

.perks-points>li {
    padding: 0;
}

.perks-points>li::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f101';
    /* Angle right icon */
    color: var(--primaryColor);
    padding-right: .5rem;
}

// perks end

// service start

.service-section {
    background-image: radial-gradient(rgba(0, 0, 0, 0.05) 6px,
            rgba(0, 0, 0, 0.06) 6px,
            white 6px,
            white 100%);
    background-repeat: repeat;
    // background-position: center;
    background-size: 10px 10px;
}

.service-blocks {
    height: 450px;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .control-button {
        background-color: var(--primaryColor);
        padding: 0.5rem;
        border-radius: 100%;
        cursor: pointer;
    }

    .down-button {
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
    }

    .up-button {
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
    }

    .service-block-container {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 10rem;

        transition: transform 0.5s ease-in-out;
        /* Smooth scrolling transition */

        @media screen and (max-width: 990px) {
            padding: 0rem;
        }

        .service-block-item {
            display: flex;
            gap: 1rem;
            align-items: center;
            height: 450px;
            padding: .5rem 1rem;
            border-radius: 14px;
            background-color: var(--thirdColor);

            >* {
                flex: 1;
            }

            >.title {

                display: flex;
                align-items: center;
                justify-content: center;

                >.data {

                    >.text {
                        position: relative;
                        z-index: 2;
                    }

                    font-size: clamp(3rem, 8vw, 4rem);
                    font-weight: bolder;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px;
                    position: relative;
                    display: inline-block;
                    text-align: center;

                    >.title-icon {
                        background-color: var(--primaryColor);
                        display: inline-block;
                        padding: 1rem;
                        border-radius: 100%;
                        font-size: 25px;
                        position: absolute;
                    }

                    >.title-icon-1 {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        transform: translate(-50%, -50%);
                    }

                    >.title-icon-2 {
                        position: absolute;
                        left: 100%;
                        top: 0;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .discription {

                .service-item-cta {
                    padding: .5rem 1rem;
                    background-color: var(--primaryColor);
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 0 5px 0px var(--secondaryColor);

                    transition: all 0.25s ease;

                    &:hover {
                        box-shadow: 0 0px 0px var(--secondaryColor);
                        transform: translateY(5px);
                    }

                }

            }

            @media screen and (max-width:990px) {
                flex-direction: column;
            }

        }
    }
}


// service end

// about me start

.tech-stack-tile{
    display: flex;
    gap: .5rem;
    color: var(--secondaryColor);
    background: var(--thirdColor);
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

// about me end