@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

:root {
  --primaryColor: rgba(254, 193, 53, 1);
  --secondaryColor: rgba(33, 37, 41, 1);
  --thirdColor: rgba(247, 247, 247, 1);
  --sidePadding: 10rem;
  --sideContenntPadding: 12rem;
  /* main font is space mono configured in layout */
}

@theme inline {
  --primaryColor: var(--primaryColor);
  --secondaryColor: var(--secondaryColor);
  --thirdColor: var(--thirdColor);
}

/* comman class */

.content-container{
  padding: 0.5rem 12rem;
}

@media screen and (max-width : 990px) {
  .content-container{
    padding: 0.5rem 1rem;
  }
}