@import "tailwindcss";

:root {
  --primaryColor: rgba(254, 193, 53, 1);
  --secondaryColor: rgba(33, 37, 41, 1);
  --thirdColor: rgba(247, 247, 247, 1);
  --sidePadding: 10rem;
  --sideContenntPadding: 14rem;
  /* main font is space mono configured in layout */
}

@theme inline {
  --primaryColor: var(--primaryColor);
  --secondaryColor: var(--secondaryColor);
  --thirdColor: var(--thirdColor);
}