@import "tailwindcss";

:root {
  --primaryColor: rgba(254, 193, 53, 1);
  --secondaryColor: rgba(33, 37, 41, 1);
  --thirdColor: rgba(247, 247, 247, 1);
  --sidePadding: 4rem;
  font-family: "Space Mono", monospace;
}

@theme inline {
  --primaryColor: var(--primaryColor);
  --secondaryColor: var(--secondaryColor);
  --thirdColor: var(--thirdColor);
}